.my_carousel{
 position:relative;
 width: 940px;
 margin: 30px auto 20px auto;
}

.carousel_container{
 width: 640px;
 height: 360px;
 border: 6px solid white;
 overflow: hidden;
 margin: auto;
}

.carousel_data{display: none;
	
}

#carousel{
	margin: 0px auto 0px auto;
	width: 640px;
	height: 360px;
}

#carousel img{
	width:640px;
	height:360px;
	cursor: pointer;
	background-image: url('../img/noisy_grid.png');
	margin: 4px 0px 0px 3px;
}

#captions{}

.nextItem{
	position:absolute;
	top:160px;
	left:60px;
	z-index:1001;
	cursor:pointer;
}

.prevItem{
	position: absolute;
	top:160px;
	right:60px;
	z-index: 1002;
	cursor:pointer;
}

#captions h2{
	font-family: Domine;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
	margin: -20px 0px 0px 0px;
	padding: 10px 0px 0px 10px;
	color: #ffffff;
	border-left: 6px solid red; 
}

#captions h1{
	font-family: Domine;
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
	margin: 0px 0px 5px 0px;
	padding: 10px 0px 0px 10px;
	color: #ffffff;
	border-left: 6px solid red; 
}

#captions p{
	font-family: Domine;
	font-size: 14px;
	text-align: justify;
	color: #ffffff;
	margin: 380px 0px -10px 4px;
	padding-top: 5px;
}

#go_button{
	margin-left:380px;
	text-align: center;
	}
	
#go_button:hover{
	
}

.experiment_description{
	font-family: Domine, serif;
	color:white;
	margin: 30px 20px auto 20px;
	text-align: justify;
}

#show{
	font-family: Domine, serif;
	color:#666;
	margin: auto 20px auto 20px;
	text-align: center;
	cursor: pointer;
}

#show:hover{
	color:#ff1e00;
}

#more{
	font-family: Domine, serif;
	color:white;
	margin: 10px 20px -15px 20px;
}