#contentiframe{
	position: relative;
	text-align: center;
	color: white;
	font-size: 14px;
	width: 620px;
	height: 12065px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

#emailonly{
	position: absolute;
	top: 48px;
	right: 43px;
	padding: 5px;
	font-family: Domine;
	color: #666;
	text-align: center;
	outline-color: #ff1e00;
	outline-width: thin;
}

#emailonly-btn{
	position: absolute;
	display: table-cell;
	top: 48px;
	right: 8px;
}

#emailonly-msg{
	position: absolute;
	top:109px;
	right:16px;
	font-family: Domine;
	color: #666;
	text-align: center;
	width: 260px;
	height: 50px;
}


.black{
	color: #000000;
}

.btn{
	background-color: #666;
	height: 30px;
	width: 30px;
	border-radius: 100%;
}

a.btn:hover{
	background-color: #ff1e00;
	-moz-transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	cursor: pointer;
}

a.btn:active{
	background-color: #666;
}

#signup #emailonly-btn p{
	position: absolute;
	top:-10px;
	right:5px;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-family: Domine;

}

#logo{
	height:148px;
	width:148px;
	border-radius:100%;
	background-image: url('../img/mlh2.gif');
	border: 1px solid #ff1e00;
}

#logo a{
	display: block;
	width: 100%;
	height:100%;
}

#logo a:hover{
	border: 2px solid white;
	margin-top: -2px;
	margin-left: -2px;
	border-radius: 100%;} 


body{
	background-image:url('../img/noisy_grid_dark.png');
	background-repeat:repeat;
}

a{text-decoration: none;
  color:#666;
}

a:hover{
	color:#ff1e00;
}

#header {
	z-index: 2002;
	position: absolute;
	margin-top: 0px;
	width:1022px;
	padding: 0px 0px 0px 0px;}
	
#sub_header { 
	z-index: 2001;
	margin-top: 55px;
	margin-left: 36px;
	height:35px; 
	width: 992px;
	background-image: url('../img/noisy_grid.png');
	-webkit-box-shadow:  0px 2px 100px 3px #000000;
    box-shadow:  0px 2px 100px 3px #000000;
}
	
#header img {
	margin-left: 0px;
}


#nav{
	z-index: 2001;
	margin-top: -6px;
	margin-left: -65px;
	}
	
	ul li {
		display:inline-block;
		font-size: 19px;
		font-family: Domine;
		font-weight: 100;}
		
	ul li a {
		text-decoration: none;
		margin-right: 37px;}
	ul li a:link {color:#666666;}
	ul li a:visited {color:#666666;}
	ul li a:hover{color:#ff1e00;
	text-decoration: none;
	-moz-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;} 
	
/*Active Page Javascript
.tab-content{}

.tabs{
	a {color:#666666;}
	a:hover {color:#ff1e00;}
	a.active {color:#ff1e00;}
}
*/
	
	
#social{
	z-index: 3;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
	width: 115px;
	display:inline-block;
	text-decoration: none;}
	
#header #social img
{
	margin-left: 0px;
}	

#twitter{
	display: inline-block;
	width:29px;
	height:24px;
	background-image: url('../img/twitter_static.png');
}

#twitter:hover{
	display: inline-block;
	width:29px;
	height:24px;
	background-image: url('../img/twitter.png');
}

#facebook{
	display: inline-block;
	width:24px;
	height:24px;
	background-image: url('../img/f_logo_static.png');
}

#facebook:hover{
	display: inline-block;
	width:24px;
	height:24px;
	background-image: url('../img/f_logo.png');
}

#vimeo{
	display: inline-block;
	width:24px;
	height:24px;
	background-image: url('../img/vimeo_static.png');
}

#vimeo:hover{
	display: inline-block;
	width:24px;
	height:24px;
	background-image: url('../img/vimeo.png');
}
	
#mail{
	display: inline-block;
	width:25px;
	height:24px;
	background-image: url('../img/mail_static.png');
}

#mail:hover{
	display: inline-block;
	width:25px;
	height:24px;
	background-image: url('../img/mail.png');
}
	
	
#content{
	width:1020px;
	padding: 0px;
	margin-top: 115px;
}
	
#signup{
	position: absolute;
	background-color: white;
	border: 1px solid #cecece;
	top: 17px;
	right: 16px;
	padding: 0px;
	height:92px; 
	width: 260px;
	}
	
#signup h3{
	font-family: Domine;
	font-size: 19px;
	color: #666666;
	position: absolute;
	top: 5px;
	right: 45px;
}

#signup img{
	position: absolute;
	left: 10px;
	top:9px;
}
	
#video{
	position: relative;
	margin:-100px auto auto -20px;
	border-bottom: 4px dashed #333;
	border-left: 4px dashed #333;
	border-right: 4px dashed #333;
			}

.innershadow{		
-webkit-box-shadow: inset 0px 1px 100px 1px #000000;
    box-shadow:  inset 0px 1px 100px 1px #000000;}

.shadow{		
-webkit-box-shadow:  0px 1px 100px 1px #000000;
    box-shadow:  0px 1px 100px 1px #000000;}
    
.shadowred{		
-webkit-box-shadow:  0px 1px 100px 1px #5d0000;
    box-shadow:  0px 1px 100px 1px #5d0000;}
    
.tb{
	border-top: 10px dashed #666;
}

#des_illus{
	background-image: url('../img/noisy_grid.png');
	margin-left: 15px;
	height: 250px;
	width: 291px;
}

#description{
	font-family: Domine;
	font-size: 14px;
	position: relative;
	left:-6px;
	top:-100px; 
	background-image: url('../img/noisy_grid.png');
	height: 165px;
	width: 272px;
	border-left: 4px dashed #666;
	border-bottom: 4px dashed #666;
	border-right: 4px dashed #ff1e00;
	border-top: 4px solid #ff1e00;
}
	
#upcoming{
	background-image: url('../img/noisy_grid.png');
	overflow:hidden;
	margin-left: -22px;
	border-top:4px solid #ff1e00;
	border-right: 4px dashed #ff1e00;
	border-bottom: 4px dashed #666;
	height: 610px;
	width: 284px;
	-webkit-box-shadow: inset 1px 1px 100px 1px #999;
    box-shadow: inset 1px 1px 100px 1px #999;
}	

#upcoming h1{
	text-align: center;
	font-family: Domine, serif;
	font-size: 18px;
}

#upcoming h2{
	text-align: center;
	font-family: Domine, serif;
	font-size: 16px;
	overflow: hidden;
}


/*
.arrow{
	z-index:10; 
	display: block;
	padding-top: 0px;
	width: 40%;
	height: auto;
	margin: auto;
	
}
*/

.eventpic{
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 0px;
}
	
.description{
	padding-left: 20px;
	padding-right: 20px;}

#footer {
	z-index: 3;
	position: absolute;
	margin: auto auto auto 66px;
	width:940px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	background-image: url('../img/noisy_grid.png');
	font-size: 10px;
	}
	

/*Custom Elements for People Page*/

.bio_pic{
	position: relative;
	display: inline-block;
	float: left;
	width: 128px;
	height: 128px;
	border-radius: 100%;
	margin-left: 60px;
	margin-top: 20px;
	z-index: 1;
}

.bio{
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 10px;
	padding: 10px;
	width:750px;
	z-index: 1;
	background-image: url('../img/noisy_grid.png');}	
	
.bio_wrapper{
	padding:0px;
	margin: 0px;
	width:1006px;
	height:150px;
}

.bio_wrapper h1{font-family: sans-serif;
   font-size: 14px;
   font-style: oblique;	
   display: inline;
}

.bio_wrapper h2{font-family: sans-serif;
   font-size: 12px;
   font-style: italic;
   font-weight: normal;
   padding-left: 5px;
   display: inline;
}

.bio_wrapper h3{font-family: sans-serif;
   font-size: 12px;
   font-weight: normal;
   padding-left: 5px;
   display: inline;
}


.bio_wrapper p{font-family: sans-serif;
  font-size: 11px;
  font-style: normal;
  margin-top: 0;
}

/*Custom Elements for Project Page*/

.projects{
position: relative;
background-image: url('../img/noisy_grid_darkest.png');  
width: 940px;
height: auto;
padding: 10px 0px 30px 0px;
margin-top: 100px;
margin-left: 66px;
margin-bottom: 10px;
z-index: 0;}

.project-thumb{
width: 200px;
height: 200px;
border: 6px solid white;
}	

.project-thumb a:hover img{
border-left: 6px solid red;
margin-left: -22px;
margin-top: -7px;
padding-left: 16px;
padding-bottom: 6px;
padding-top: 7px;
}

.project-title{
line-height: 16px;
font-size: 13px;
color: #ffffff;
clear: both;
padding-top: 10px;
padding-left: 0px;
padding-bottom: 20px;
}

#project-header{}
	
#project-header h2{
	font-family: Domine;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
	margin:50px 0px 0px 60px;
	padding: 10px 0px 0px 10px;
	color: #ffffff;
	border-left: 6px solid red; 
}

#project-header h1{
	font-family: Domine;
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
	margin: 0px 0px 5px 60px;
	padding: 10px 0px 0px 10px;
	color: #ffffff;
	border-left: 6px solid red; 
}

