body{
	background-image:url('../img/maze_whiter.png');
	background-repeat:repeat;
}

#wrapper {
	margin:0px auto;
	width: 890px;
}

#header {
	position: relative;
	top: 0px;
	margin-bottom: 10px;
	height: 150px;
	width: 890px;
	padding: 0px;}
	
#moving_header {
	position:fixed;
	z-index: 1;
	background-color: white;
	top: 0px;
	margin-bottom: 10px;
	height: 150px;
	width: 890px;
	border: 1px dotted #ff1e00;
	padding: 5px;}


#logo{position:fixed;
	  background-color: white;
	  z-index: 2;}

#nav {
	position: fixed;
	z-index: 2;
	margin-left: 150px;
	padding-top: 40px;
	background-color: white;}
	ul li {
		display:inline-block;
		font-size: 24px;}
	ul li a {
		text-decoration: none;
		margin-right: 20px;}
	ul li a:link {color:#ff1e00;}
	ul li a:visited {color:#666666;}
	ul li a:hover{color:#000000;
	border-bottom:1px dotted #ff1e00;} 
	
#social{
	position: relative;
	z-index: 3;
	margin-left: 700px;
	padding-top: 56px;
	display:inline-block;
	text-decoration: none;
	border-bottom:1px dotted #ff1e00;}
	
#top_main {width:890px;
		   height: 360px;
		   background-color: gray;}
	
.video{display: inline-block;
	   width: 640px;
	   height: 360px;
	   background-color: black;
}

#main {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 700px;
	width: 890px;
	border: 1px dotted #ff1e00;
	padding: 5px;
}
	

#footer {
	position:relative;
	text-align: center;
	border: 1px dotted #ff1e00;
	background-color: white;
	font-size: 10px;
	width: 870px;
	margin: 0px auto;}

